.App > h1 {
  text-align: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user > div {
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
}

/* .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn > button {
  margin: 15px;
} */
